@import url('https://fonts.googleapis.com/css2? familia= Montserrat:peso@400;700 &familia= Espacio+Mono & display=swap');

body {
    background: black;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 90%;
    color:white
}

h1 {
    font-size: 0,93em;
}

#p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 700;
}

p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1,31 em;
}

a {
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 1,75 em;
    color:white
}

@media (max-width: 768px) {
}